@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SelavyUnlocked';
  font-weight: 300;
  word-break: keep-all;
}

@font-face {
  font-family: "Director";
  src: url("https://hub.xpub.nl/chopchop/~v/hdwgh/fonts/Director-Light.otf");
}
@font-face {
  font-family: "SelavyUnlockedGX";
  src: url("assets/fonts/SelavyUnlockedGX.ttf") format("woff2");
  font-weight: 300;
}
/* Single weight fonts (woff2 + woff) for unsupported browsers */
@font-face {
    font-family: 'SelavyUnlocked';
    src: url('../../assets/fonts/SelavyUnlocked-Bold.woff2') format('woff2'),
        url('../../assets/fonts/SelavyUnlocked-Bold.woff') format('woff');
    font-weight: 1000; 
}
@font-face {
    font-family: 'SelavyUnlocked';
    src: url('../../assets/fonts/SelavyUnlocked-Semi-bold.woff2') format('woff2'),
        url('../../assets/fonts/SelavyUnlocked-Semi-bold.woff') format('woff');
    font-weight: 900; 
}
@font-face {
    font-family: 'SelavyUnlocked';
    src: url('../../assets/fonts/SelavyUnlocked-Medium.woff2') format('woff2'),
        url('../../assets/fonts/SelavyUnlocked-Medium.woff') format('woff');
    font-weight: 600; 
}
@font-face {
    font-family: 'SelavyUnlocked';
    src: url('../../assets/fonts/SelavyUnlocked-Regular.woff2') format('woff2'),
        url('../../assets/fonts/SelavyUnlocked-Regular.woff') format('woff');
    font-weight: 400; 
}
@font-face {
    font-family: 'SelavyUnlocked';
    src: url('../../assets/fonts/SelavyUnlocked-Light.woff2') format('woff2'),
        url('../../assets/fonts/SelavyUnlocked-Light.woff') format('woff');
    font-weight: 300; 
}
@font-face {
    font-family: 'SelavyUnlocked';
    src: url('../../assets/fonts/SelavyUnlocked-Extra-light.woff2') format('woff2'),
        url('../../assets/fonts/SelavyUnlocked-Extra-light.woff') format('woff');
    font-weight: 100; 
}
@font-face {
    font-family: 'SelavyUnlocked';
    src: url('../../assets/fonts/SelavyUnlocked-Thin.woff2') format('woff2'),
        url('../../assets/fonts/SelavyUnlocked-Thin.woff') format('woff');
    font-weight: 1; 
}
#size{
  width: 33vw;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Viewport height */
  background-color: black;
  margin: 0; /* 화면 가장자리로부터 여백 추가 */
  overflow-y: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  visibility: hidden;
}

main {
  display: block;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  pointer-events: none;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 0; /* 상하 마진 조정 */
  font-size: 6rem;
  font-weight: bolder;
}
h2{
  margin-bottom: 1rem;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  width: 37.5rem;
}

p {
  margin-top: 30px;
}

#small {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#supersmall {
  font-size: 30pt;
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0rem;
}
.bottom h2 {
  color: white;
  font-size: 6rem;
  font-weight: bolder;
  padding-bottom: 0;
}

.middle {
  display: flex;
  width: 100vw;
}

.left {
  width: 50vw;
  float: left;
  padding: 3.125rem;
  padding-left: 3.75rem;
}
.left #big {
  font-size: 2.125rem;
}
.left #last {
  font-size: 1.365rem;
  line-height: 29px;
}
.left p {
  color: white;
  margin: 0.625rem;
}

.right {
  width: 50vw;
  float: left;
  padding: 3.125rem;
  padding-right: 3.75rem;
}
.right #big {
  font-size: 27px;
  line-height: 2.25rem;
}
.right #last {
  font-size: 1.365rem;
  line-height: 33px;
}
.right p {
  color: white;
  margin: 0.5rem 1.6875rem 0.8rem;
  font-family: "Director";
  word-spacing: -0.5rem;
}

#ad1 {
  width: 27rem;
  padding-bottom: 2.5rem;
}

#ad2 {
  width: 8.5rem;
  padding-bottom: 2.5rem;
}

#ad3 {
  width: 12.5rem;
  padding-bottom: 2.5rem;
}

#ad4 {
  width: 12.5rem;
  padding-bottom: 2.5rem;
}

#ad5 {
  width: 21rem;
  padding-bottom: 2.5rem;
}

#ad6 {
  width: 26rem;
  padding-bottom: 2.5rem;
}

#ad7 {
  width: 22rem;
  padding-bottom: 2.5rem;
}

#ad8 {
  width: 38rem;
  padding-bottom: 2.5rem;
}

#ad9 {
  width: 21rem;
  padding-bottom: 2.5rem;
}

#ad10 {
  width: 22rem;
  padding-bottom: 2.5rem;
}

#ad11 {
  width: 65rem;
  padding-bottom: 2.5rem;
}

#ad12 {
  width: 12em;
  padding-bottom: 2.5rem;
}

#ad13 {
  width: 18rem;
  padding-bottom: 2.5rem;
}

#ad14 {
  width: 20rem;
  padding-bottom: 2.5rem;
}

#ad15 {
  width: 8rem;
  padding-bottom: 2.5rem;
}

#ad16 {
  width: 15rem;
  padding-bottom: 3.125rem;
}

#ad17 {
  width: 15.625rem;
  padding-bottom: 2.5rem;
}

#ad18 {
  width: 25rem;
  padding-bottom: 2.5rem;
}

#ad19 {
  width: 16rem;
  padding-bottom: 2.5rem;
}

#ad20 {
  width: 12rem;
  padding-bottom: 2.5rem;
}

#ad21 {
  width: 23rem;
  padding-bottom: 2.5rem;
}

#ad22 {
  width: 22rem;
  padding-bottom: 2.5rem;
}

#ad23 {
  width: 27rem;
  padding-bottom: 2.5rem;
}

#ad24 {
  width: 23rem;
  padding-bottom: 2.5rem;
}

#ad25 {
  width: 17.7rem;
  padding-bottom: 2.5rem;
}

#ad27 {
  width: 32rem;
  padding-bottom: 2.5rem;
}

#ad28 {
  width: 28rem;
  padding-bottom: 2.5rem;
}

#ad29 {
  width: 20rem;
  padding-bottom: 2.5rem;
}

#ad30 {
  width: 33rem;
  padding-bottom: 2.5rem;
}

#ad31 {
  width: 50rem;
  padding-bottom: 3.125rem;
}

#ad32 {
  width: 21rem;
  padding-bottom: 3.125rem;
}

#ad33 {
  width: 13rem;
  padding-bottom: 3.125rem;
}

#ad37 {
  width: 33rem;
  padding-bottom: 2.5rem;
}

#ad39 {
  width: 15rem;
  padding-bottom: 2.5rem;
}

#ad42 {
  width: 18rem;
  padding-bottom: 2.5rem;
}

#ad43 {
  width: 28rem;
  padding-bottom: 2.5rem;
}

#ad45 {
  width: 14rem;
  padding-bottom: 2.5rem;
}

#ad48 {
  width: 53rem;
  padding-bottom: 2.5rem;
}

#ad49 {
  width: 30rem;
  padding-bottom: 2.5rem;
}

#ad51 {
  width: 26rem;
  padding-bottom: 2.5rem;
}

#ad53 {
  width: 26rem;
  padding-bottom: 2.5rem;
}

#ad54 {
  width: 53rem;
  padding-bottom: 2.5rem;
}

#ad55 {
  width: 18rem;
  padding-bottom: 2.5rem;
}

#ad56 {
  width: 8rem;
  padding-bottom: 2.5rem;
}

#ad57 {
  width: 8rem;
  padding-bottom: 2.5rem;
}

#ad60 {
  width: 20rem;
  padding-bottom: 2.5rem;
}

#ad62 {
  width: 30rem;
  padding-bottom: 2.5rem;
}

#ad64 {
  width: 19rem;
  padding-bottom: 2.5rem;
}

#ad65 {
  width: 15rem;
  padding-bottom: 2.5rem;
}

#ad66 {
  width: 21rem;
  padding-bottom: 2.5rem;
}

#ad67 {
  width: 14rem;
  padding-bottom: 2.5rem;
}

#ad69 {
  width: 8rem;
  padding-bottom: 2.5rem;
}

#ad70 {
  width: 8rem;
  padding-bottom: 2.5rem;
}

#ad71 {
  width: 11rem;
  padding-bottom: 2.5rem;
}

#ad73 {
  width: 20rem;
  padding-bottom: 2.5rem;
}

#ad75 {
  width: 11rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 1880px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 6rem;
    margin-top: 1.2rem;
  }
  .bottom h2 {
    font-size: 6rem;
    margin-bottom: 1.2rem;
  }
  img {
    width: 40rem;
  }
  #small {
    font-size: 4.5rem;
    margin: 1rem;
  }
  #supersmall {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .right {
    width: 50vw;
    float: left;
    padding: 3rem;
    padding-right: 8rem;
    padding-left: 4rem;
  }
  .right #big {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
  .right #last {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .right p {
    color: white;
    margin: 0.5rem 0.625rem 0.8rem;
    font-family: "Director";
    word-spacing: -0.5rem;
  }
  .left {
    width: 50vw;
    float: left;
    padding: 3rem;
    padding-right: 4rem;
    padding-left: 8rem;
  }
  .left #big {
    font-size: 2rem;
    line-height: 2.7rem;
  }
  .left #last {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .left p {
    color: white;
    margin: 0.625rem;
  }
}

@media (max-width: 768px) {
  body {
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    ::-webkit-scrollbar{
      visibility: hidden;
    }
  }
  
  h1 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  img {
    width: 60%;
    height: auto;
  }
  #small {
    justify-content: center;
    margin: auto;
    font-size: 1.8rem;
    margin: 0.5rem;
  }
  .middle {
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
  }
  .left #big {
    font-size: 1.25rem;
  }
  .left #last {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .left p {
    margin: 0.5rem 0;
  }
  .right #big {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .right #last {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .right p {
    margin: 0.5rem 0;
  }
  .bottom #small{
    margin: auto;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .top #supersmall{
    margin: auto;
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .bottom #supersmall{
    margin: auto;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .bottom {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
  }

  .bottom h2 {
    margin: auto;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  main {
    overflow-y: auto;
  }
  section {
    border-bottom: 1px solid grey;
    scroll-snap-align: none;
    height: auto;
    padding: 0;
    
  }

  #ad1 {
    margin: auto;
    width: 40%;
    padding-bottom: 2.5rem;
  }
  
  #ad2 {
    margin: auto;
    width: 18%;
    padding-bottom: 2.5rem;
  }
  
  #ad3 {
    margin: auto;
    width: 20%;
    padding-bottom: 2.5rem;
  }
  
  #ad4 {
    margin: auto;
    width: 20%;
    padding-bottom: 2.5rem;
  }
  
  #ad5 {
    margin: auto;
    width: 30%;
    padding-bottom: 2.5rem;
  }
  
  #ad6 {
    margin: auto;
    width: 35%;
    padding-bottom: 2.5rem;
  }
  
  #ad7 {
    margin: auto;
    width: 35%;
    padding-bottom: 2.5rem;
  }
  
  #ad8 {
    margin: auto;
    width: 50%;
    padding-bottom: 2.5rem;
  }
  
  #ad9 {
    margin: auto;
    width: 30%;
    padding-bottom: 2.5rem;
  }
  
  #ad10 {
    margin: auto;
    width: 30%;
    padding-bottom: 2.5rem;
  }
  
  #ad11 {
    margin: auto;
    width: 70%;
    padding-bottom: 2.5rem;
  }
  
  #ad12 {
    margin: auto;
    width: 20%;
    padding-bottom: 2.5rem;
  }
  
  #ad13 {
    margin: auto;
    width: 26%;
    padding-bottom: 2.5rem;
  }
  
  #ad14 {
    margin: auto;
    width: 30%;
    padding-bottom: 2.5rem;
  }
  
  #ad15 {
    margin: auto;
    width: 18%;
    padding-bottom: 2.5rem;
  }
  
  #ad16 {
    margin: auto;
    width: 30%;
    padding-bottom: 3.125rem;
  }
  
  #ad17 {
    margin: auto;
    width: 30%;
    padding-bottom: 2.5rem;
  }
  
  #ad18 {
    margin: auto;
    width: 50%;
    padding-bottom: 2.5rem;
  }
  
  #ad19 {
    margin: auto;
    width: 27%;
    padding-bottom: 2.5rem;
  }
  
  #ad20 {
    margin: auto;
    width: 26%;
    padding-bottom: 2.5rem;
  }
  
  #ad21 {
    margin: auto;
    width: 50%;
    padding-bottom: 2.5rem;
  }
  
  #ad22 {
    margin: auto;
    width: 42%;
    padding-bottom: 2.5rem;
  }
  
  #ad23 {
    margin: auto;
    width: 50%;
    padding-bottom: 2.5rem;
  }
  
  #ad24 {
    margin: auto;
    width: 40%;
    padding-bottom: 2.5rem;
  }
  
  #ad25 {
    margin: auto;
    width: 20%;
    padding-bottom: 2.5rem;
  }
  
  #ad27 {
    margin: auto;
    width: 50%;
    padding-bottom: 2.5rem;
  }
  
  #ad28 {
    margin: auto;
    width: 50%;
    padding-bottom: 2.5rem;
  }
  
  #ad29 {
    margin: auto;
    width: 26%;
    padding-bottom: 2rem;
  }
  
  #ad30 {
    margin: auto;
    width: 55%;
    padding-bottom: 2.5rem;
  }
  
  #ad31 {
    margin: auto;
    width: 50%;
    padding-bottom: 3.125rem;
  }
  
  #ad32 {
    margin: auto;
    width: 30%;
    padding-bottom: 3.125rem;
  }
  
  #ad33 {
    margin: auto;
    width: 23%;
    padding-bottom: 3.125rem;
  }
  
  #ad37 {
    margin: auto;
    width: 50%;
    padding-bottom: 2.5rem;
  }
  
  #ad39 {
    margin: auto;
    width: 20%;
    padding-bottom: 2.5rem;
  }
  
  #ad42 {
    margin: auto;
    width: 30%;
    padding-bottom: 2.5rem;
  }
  
  #ad43 {
    margin: auto;
    width: 42%;
    padding-bottom: 2.5rem;
  }
  
  #ad45 {
    margin: auto;
    width: 25%;
    padding-bottom: 2.5rem;
  }
  
  #ad48 {
    margin: auto;
    width: 69%;
    padding-bottom: 2.5rem;
  }
  
  #ad49 {
    margin: auto;
    width: 35%;
    padding-bottom: 2rem;
  }
  
  #ad51 {
    margin: auto;
    width: 40%;
    padding-bottom: 2.5rem;
  }
  
  #ad53 {
    margin: auto;
    width: 40%;
    padding-bottom: 2.5rem;
  }
  
  #ad54 {
    margin: auto;
    width: 60%;
    padding-bottom: 2.5rem;
  }
  
  #ad55 {
    margin: auto;
    width: 30%;
    padding-bottom: 2.5rem;
  }
  
  #ad56 {
    margin: auto;
    width: 15%;
    padding-bottom: 2.5rem;
  }
  
  #ad57 {
    margin: auto;
    width: 15%;
    padding-bottom: 2.5rem;
  }
  
  #ad60 {
    margin: auto;
    width: 40%;
    padding-bottom: 2.5rem;
  }
  
  #ad62 {
    margin: auto;
    width: 50%;
    padding-bottom: 2.5rem;
  }
  
  #ad64 {
    margin: auto;
    width: 30%;
    padding-bottom: 2.5rem;
  }
  
  #ad65 {
    margin: auto;
    width: 27%;
    padding-bottom: 2.5rem;
  }
  
  #ad66 {
    margin: auto;
    width: 35%;
    padding-bottom: 2.5rem;
  }
  
  #ad67 {
    margin: auto;
    width: 25%;
    padding-bottom: 2.5rem;
  }
  
  #ad69 {
    margin: auto;
    width: 15%;
    padding-bottom: 2.5rem;
  }
  
  #ad70 {
    margin: auto;
    width: 15%;
    padding-bottom: 2.5rem;
  }
  
  #ad71 {
    margin: auto;
    width: 20%;
    padding-bottom: 2.5rem;
  }
  
  #ad73 {
    margin: auto;
    width: 37%;
    padding-bottom: 2.5rem;
  }
  
  #ad75 {
    margin: auto;
    width: 20%;
    padding-bottom: 2.5rem;
  }
}
/*# sourceMappingURL=style2.css.map */