@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  word-break: keep-all;
}

@font-face {
  font-family: "Director";
  src: url("https://hub.xpub.nl/chopchop/~v/hdwgh/fonts/Director-Light.otf");
}
@font-face {
  font-family: "SelavyUnlockedGX";
  src: url("assets/fonts/SelavyUnlockedGX.ttf") format("ttf");
  font-weight: 1 1000;
}
/* Single weight fonts (woff2 + woff) for unsupported browsers */
@font-face {
  font-family: "SelavyUnlocked";
  src: url("../../assets/fonts/SelavyUnlocked-Bold.woff2") format("woff2"), url("../../assets/fonts/SelavyUnlocked-Bold.woff") format("woff");
  font-weight: 1000;
}
@font-face {
  font-family: "SelavyUnlocked";
  src: url("../../assets/fonts/SelavyUnlocked-Semi-bold.woff2") format("woff2"), url("../../assets/fonts/SelavyUnlocked-Semi-bold.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "SelavyUnlocked";
  src: url("../../assets/fonts/SelavyUnlocked-Medium.woff2") format("woff2"), url("../../assets/fonts/SelavyUnlocked-Medium.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "SelavyUnlocked";
  src: url("../../assets/fonts/SelavyUnlocked-Regular.woff2") format("woff2"), url("../../assets/fonts/SelavyUnlocked-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "SelavyUnlocked";
  src: url("../../assets/fonts/SelavyUnlocked-Light.woff2") format("woff2"), url("../../assets/fonts/SelavyUnlocked-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "SelavyUnlocked";
  src: url("../../assets/fonts/SelavyUnlocked-Extra-light.woff2") format("woff2"), url("../../assets/fonts/SelavyUnlocked-Extra-light.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "SelavyUnlocked";
  src: url("../../assets/fonts/SelavyUnlocked-Thin.woff2") format("woff2"), url("../../assets/fonts/SelavyUnlocked-Thin.woff") format("woff");
  font-weight: 1;
}
body {
  background-color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Director";
  line-height: 24px;
}

.kr {
  display: flex;
  position: absolute;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.kr img {
  margin: 2rem 1rem;
}

.food {
  left: 55vw;
  display: flex;
  position: fixed;
  width: 50vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.food img {
  width: 24vw;
  position: relative;
  display: flex;
  margin: 5vh auto 5vh;
}

.title {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 10px;
}
.title p {
  font-size: 5rem;
  letter-spacing: -0.5px;
  line-height: 8rem;
}

.card3 {
  font-size: 2rem;
  position: absolute;
  top: 20vh;
  bottom: 0;
  left: 22vw; /* 기존 카드의 오른쪽에 배치 */
  margin: auto;
  padding: 2px 2rem;
  transform: rotate(30deg);
  transform-origin: center center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.458);
  overflow: hidden;
  letter-spacing: -0.5px;
  line-height: 7rem;
}
.card3 #burrito {
  z-index: -999;
  left: 30vw;
  top: 30vh;
}
.card3 #soup {
  transform: rotate(-5deg);
  z-index: -1000;
  top: 54vh;
}

.card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10vw;
  margin: auto;
  padding: 20px;
  transform: rotate(10deg);
  transform-origin: center center;
  width: 448px;
  height: 562px;
  background: white;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.406);
  overflow: scroll;
  overflow-x: hidden;
  letter-spacing: -0.5px;
  line-height: 2rem;
}
.card p {
  cursor: help;
  word-break: keep-all;
}
.card #soup {
  transform: rotate(1deg);
}

.card2 {
  position: absolute;
  top: 40vh;
  bottom: 0;
  left: 68vw; /* 기존 카드의 오른쪽에 배치 */
  margin: auto;
  padding: 20px;
  transform: rotate(-16deg);
  transform-origin: center center;
  width: 330px;
  height: 281px;
  background: white;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.458);
  overflow: scroll;
  overflow-x: hidden;
  letter-spacing: -0.5px;
  line-height: 2rem;
}
.card2 p {
  cursor: help;
  word-break: keep-all;
}
.card2 #soup {
  transform: rotate(0deg);
  left: 64vw;
}

.card4 {
  position: absolute;
  top: 0vh;
  bottom: 0;
  left: 40vw;
  margin: auto;
  padding: 10px;
  transform: rotate(-2deg);
  transform-origin: center center;
  width: 230px;
  height: 230px;
  background: white;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.458);
}
.card4 #burrito {
  left: 40vw;
}
.card4 #soup {
  z-index: 0;
  left: 35vw;
}
.card4 #pepper {
  z-index: -10;
  top: 0vh;
  left: 10vw;
  transform: rotate(-30deg);
}

/* 아이폰 SE, 8, 12 mini 등 작은 화면에 맞춘 스타일 */
@media (max-width: 767px) and (max-width: 1024px) {
  body {
    line-height: 20px;
  }
  .kr {
    flex-direction: column;
  }
  .kr img {
    margin: 1rem;
    width: 80vw;
  }
  .food {
    left: auto;
    right: 5vw;
    width: 90vw;
    height: auto;
  }
  .food img {
    width: 40vw;
  }
  .title p {
    font-size: 2rem;
    line-height: 3rem;
  }
  .card {
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 10px;
    right: 10px;
    margin: 10px auto;
    padding: 10px;
    transform: rotate(10deg);
    transform-origin: center center;
    width: calc(100vw - 40px);
    height: 20vh;
    letter-spacing: -0.5px;
    font-size: 0.7rem;
    line-height: 1.4rem;
  }
  .card #soup {
    transform: rotate(1deg);
  }
  .card2 {
    position: absolute;
    top: 30rem;
    bottom: 0;
    left: 10px;
    right: 10px;
    margin: 10px auto;
    padding: 10px;
    transform: rotate(0deg);
    transform-origin: center center;
    width: -moz-fit-content;
    width: fit-content;
    height: 30vh;
    letter-spacing: -0.5px;
    font-size: 0.7rem;
    line-height: 1.4rem;
  }
  .card2 #soup {
    transform: rotate(0deg);
    left: 64vw;
  }
  .card4 {
    position: absolute;
    top: 10.6rem;
    bottom: 0;
    left: 54vw;
    right: 10px;
    margin: 10px auto;
    padding: 10px;
    transform: rotate(-2deg);
    transform-origin: center center;
    width: 30vw;
    height: 30vw;
    z-index: 1000;
    font-size: 0.7rem;
    line-height: 1.4rem;
  }
  .card4 #burrito {
    left: 40vw;
  }
  .card4 #soup {
    z-index: 0;
    left: 35vw;
  }
}
.card3 {
  font-size: 1rem;
  position: absolute;
  top: 20vh;
  bottom: 0;
  left: 22vw; /* 기존 카드의 오른쪽에 배치 */
  margin: auto;
  padding: 2px 10px;
  transform: rotate(30deg);
  transform-origin: center center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  letter-spacing: -0.5px;
  line-height: 2rem;
}
.card3 #burrito {
  z-index: -999;
  left: 30vw;
  top: 30vh;
}
.card3 #soup {
  transform: rotate(-5deg);
  z-index: -1000;
  top: 54vh;
}/*# sourceMappingURL=style0.css.map */